<div class="container">
    <div class="row">
        <p class="about_us col l12">Edge-Case Bakery is a New York City-based bakery that offers an array of macarons, cupcakes and cakes that expand beyond traditional flavors. While paying homage to typical buttercream and ganache fillings, they also provide unconventional and savory options.</p>
    </div>
</div>

